.form-ctn {
    background: #E0E0E0;
    border-radius: 2rem;
    margin: 1rem;
}

.rating-comment {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 450px;
    height: 8rem;
    font-size: 1.5rem;
}

.rating-star-ctn {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.fa-star {
    color: gray;
}

.btn-submit-rating {
    background: #EFBF5F;
    margin-top: 2.5rem;
}

.btn-submit-rating:hover {
    width: 20rem;
    height: 3.3rem;
    background: yellow;
    border: 2px solid #000;
}